[submodule "cgel"]
	path = cgel
	url = https://github.com/nert-nlp/cgel
[submodule "roaringbitmap"]
	path = roaringbitmap
	url = git@github.com:andreasvc/roaringbitmap.git
[submodule "disco-dop"]
	path = disco-dop
	url = git@github.com:andreasvc/disco-dop.git
